.title {
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.inputBox {
  width: 100%;
  border: none;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 0.15rem solid black;
  box-sizing: border-box;
  background: none;
  margin: 0rem 0 1rem 0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
}

.inputBox:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  .inputBox {
    font-size: 1rem;
  }
}

.shop-info h2 {
  font-size: 1.125rem;
  font-weight: bold;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  background: transparent;
  height: 20vh;
  width: 100%;
  padding-top: 0.5rem;
  border-bottom: 0.15rem solid black;
}
.disabled {
  border-bottom: 0.15rem solid grey;
}